<form action="/register" method="post">
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Name</div>
      </div>
      <input
        type="text"
        name="name"
        class="form-control"
        id="inlineFormInputGroupUsername2"
        placeholder="enter your name"
      />
    </div>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Email</div>
      </div>
      <input
        type="text"
        name="email"
        class="form-control"
        id="inlineFormInputGroupEmail2"
        placeholder="enter your email"
      />
    </div>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">Password</div>
      </div>
      <input
        type="password"
        name="password"
        class="form-control"
        id="inlineFormInputGroupPassword2"
        placeholder="enter your password"
      />
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  